@charset "UTF-8";

body{
	font-size: 25px;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	padding-bottom: 3em;
}

input, button{
	font-size: inherit;
}

.talk_page {

}
	.talk_page video{
		/*width: 100%;*/
		border: solid #ccc 5px;
	}

	.talk_page .subtitle {
		font-size: 1em;
		padding: 0.5em;
	}

	.talk_page input[type=checkbox]{
		width: 1em;
		height: 1em;
	}

	.talk_page .scroll_box div{
		margin-bottom: 1em;
	}

.sentense_subtitle{
	font-size: 0.9em;
	font-weight: normal;
	margin-bottom: 2em;
}

	.sentense_subtitle .now{
		text-decoration: underline;
	}

.scroll_box{
	font-size: 1.3em;
	overflow: scroll;
	width: 13em;
	height: 15em;
}