<!DOCTYPE html>
<html lang="jp" ng-app="TED_APP">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="css/style.css">
	<title>Multilingual TED</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular-route.min.js"></script>
	<script src="angular/config.js"></script>
	<script src="angular/values.js"></script>
	<script src="angular/factories.js"></script>
	<script src="angular/controllers.js"></script>
	<script src="angular/filters.js"></script>
</head>
<body>

	<div ng-view>
	</div>

	<!-- Page -->
	<!-- Search Page -->
	<script type="text/ng-template" id="/search">
		<h1>Multilingual TED</h1>
		<div ng-controller="searchCtrl">
			<input type="search" ng-model="keyword" ng-keypress="pressInput($event)" placeholder="example: simon">
			<button ng-click="search()">Search</button>
			<div ng-show="isSearching">Searching...</div>
			<table>
				<tr ng-repeat="talk in talks" ng-click="goTalk(talk.id)">
					<td>
						<img ng-src="{{talk.image_url}}" src="image/noimage_113x85.jpg">
					</td>
					<td >
						{{talk.name}}
					</td>
					<td>
						{{talk.viewed_count | number}}
					</td>
				</tr>
			</table>
		</div>
	</script>

	<!-- Talk Page -->
	<script type="text/ng-template" id="/talk">
		<div ng-controller="talkCtrl" class="talk_page">
			<video ng-src="{{talk.media.internal[video_quality].uri}}" controls></video><br>
			<!-- 画質選択　-->
			<select ng-model="video_quality" ng-change="onchangeVideoUrl()" ng-options="quality as quality for (quality, v) in talk.media.internal"></select>

			<!-- 字幕移動 -->
			<div>
				<button ng-click="changeVideoPositionBySubtitle(-1)">Previous</button>
				<button ng-click="changeVideoPositionBySubtitle(0)">Top of</button>
				<span>{{nowSubtitleIndex + 1}} / {{subtitles['en'].length}}</span>
				<button ng-click="changeVideoPositionBySubtitle(1)">Next</button>
			</div>

			<!-- 字幕 -->
			<h2 class="subtitle" ng-repeat="lang in nowSubtitles" ng-show="isSentenseSubtitled == false">
				{{lang}}
			</h2>

			<!-- 文章字幕 -->
			<div ng-repeat="(lang_code, v) in subtitles" ng-show="isSentenseSubtitled">
				<h2 class="sentense_subtitle">
					<span ng-repeat="sub in nowSentenseSubtitles[lang_code]" ng-class="{now: sub.now}">
						{{sub.content}}
					</span>
				</h2>
			</div>

			<input type="checkbox" ng-model="isSentenseSubtitled">Enable Sentence-Subtitle<br>

			Select subtitles
			<button ng-click="clearAll()">Clear all subtitles</button>
			<div class="scroll_box">
				<div ng-repeat="(code, lang) in talk.languages">
					<input type="checkbox" ng-click="selectSubtitle(code)" ng-checked="nowSubtitles[code] != undefined">{{lang.name}}
				</div>
			</div>

		</div>
	</script>
</body>
</html>
