<!DOCTYPE html>
<html lang="jp" ng-app="TED_APP">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="css/style.css">
	<title>MyTED</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular-route.min.js"></script>
	<script src="angular/config.js"></script>
	<script src="angular/values.js"></script>
	<script src="angular/factories.js"></script>
	<script src="angular/controllers.js"></script>
	<script src="angular/filters.js"></script>
</head>
<body>

	<div ng-view>
	</div>

	

	<!-- Page -->
	<!-- Search Page -->
	<script type="text/ng-template" id="/search">
		<div ng-controller="searchCtrl">
			<input type="search" ng-model="keyword" ng-keypress="pressInput($event)">
			<button ng-click="search()">検索</button>
			<div ng-show="isSearching">検索中...</div>
			<table>
				<tr ng-repeat="talk in talks" ng-click="goTalk(talk.id)">
					<td>
						<img ng-src="{{talk.image_url}}" src="image/noimage_113x85.jpg">
					</td>
					<td >
						{{talk.name}}
					</td>
					<td>
						{{talk.viewed_count | number}}
					</td>
				</tr>
			</table>
			<pre>{{talks | json}}</pre>
		</div>
	</script>
	
	<!-- Talk Page -->
	<script type="text/ng-template" id="/talk">
		<div ng-controller="talkCtrl" class="talk_page">
			<video ng-src="{{video_url}}" controls></video>
			<span ng-repeat="sub in nowSentenseSubtitles['en']" ng-class="{now_subtitle: sub.now}">
				{{sub.content}} 
			</span>
			{{start_idx}}, {{end_idx}}<br>
			<h2 class="subtitle" ng-repeat="lang in nowSubtitles">
				{{lang}}
			</h2>

			Select subtitles
			<div class="scroll_box">
				<div ng-repeat="(code, lang) in talk.languages">
					<input type="checkbox" ng-click="selectSubtitle(code)" ng-checked="nowSubtitles[code] != undefined">{{lang.name}}
				</div>
			</div>
			<button ng-click="clearAll()">No subtitles</button>
		</div>
	</script>
</body>
</html>